<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<link href="https://fonts.googleapis.com/css?family=Cinzel:700&display=swap" rel="stylesheet">
</head>
<body>
	<div>
		<h1>Event Management System</h1>
	</div>
	
	<div id="container">
		<h2>Get Started !</h2>
		<button><a href="/register">Register</a></button>	
		<button><a href="/login">Login</a></button>
    </div>
</body>
<footer>
	Copyright 2019 SHENRON
</footer>
</html>