<!DOCTYPE html>
<html>
 <head>
	  
	  <link rel="stylesheet" type="text/css" href="css/login.css">

	  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	  <title>Log-in </title>
    </head>
    <body>
      <form action="/login" method="post">
	        <div id="container">
	        	<h1>Log-in <i class="fa fa-user" aria-hidden="true"></i></h1>
	        	<ul>
	        		<li> Enter E-mail:</li>
		           <li>
		             <input type="email" name="username" required>
	                </li>
	                <li> Enter Password:</li>
	                <li>
	                 <input type="password" name="password" required>
	                </li>
	                <li>
	                	<button type="submit">Log-in</button> 
	                </li>    
	            </ul>
	         </div>
	   </form>
   </body>
   <footer>
	Copyright 2019 SHENRON
</footer>
</html>